extends layout

block content
    h1 Talento de Barrio
    if !user
      h2 Vamos a virar la busqueda de empleos patas arriba.
      h3
        a(href="/talent/login") Login
    else
      h2 Hello, #{user.displayName}